$main-color: #fff;
$main-light-color: rgba(255, 255, 255, 0.5);

$second-main-color: linear-gradient(307.72deg, #A7F306 2.04%, #F3CD06 98.59%);

$bg-color: #1a1a1a;

$main-font: PlusJakartaSans;
$second-font: Poppins;
$third-font: Raleway;


// $main-dark-color: #3E4C3D;

// $main-brown-color: #D7AE9C;

// $main-dark-brown-color: #3B3633;

// $main-pink-color: #D7AE9C;

// $main-blue-color: #B5D8D6;

// $main-font: hind;

// :root {
//     --count-first: 2.2;
//     --gap-first: 60;

//     --count-second: 2.55;
//     --gap-second: 300;

//     --count-third: 1;
//     --gap-third: 15;

//     --count-fourth: 4;
//     --gap-fourth: 60;
//     --centered-fourth: 'false';

// }